<section class="px-md">
  <span class="d-block p-2">
    <h4><%= status %> Orders</h4>
    <p>*<%= description %>*</p>
    <div class="container order-stats">
      <p class="d-inline p-2 bg-dark text-white">Total Revenue: $<%= '%.2f' %revenue %> </p>
      <p class="d-inline p-2 bg-dark text-white">Number of Items: <%= item_count %></p>
    </div>


  </span>


  <% if orders.any? %>

    <% orders.each do |cart, user_items| %>
      <table class="table cart-table border">
        <thead class="thead-light">
        <tr>
          <th><%= link_to "Order #: #{cart.id}", order_details_path(cart.id), method: :get %></th>
          <th>Order Placed On:
            <% if cart.status == "pending" %>
              N/A
            <% else %>
              <%= cart.purchase_datetime.strftime("%b %d, %Y") %>
            <% end %>
          </th>
          <th>Status: <%= cart.status.capitalize %></th>
          <th></th>
          <th></th>
        </tr>

        </thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Fulfillment Status</th>
        </tr>
        <tbody>
        <% user_items.each do |item| %>

          <tr>
            <td><% product = Product.find_by(id: item.product_id) %>
              <%= link_to product.name, product_path(product), method: :get %></td>
            <td>$<%= '%.2f' %item.product.cost %></td>
            <td><%= item.qty %></td>
            <td>$<%= '%.2f' %item.cartitem_subtotal %></td>
            <td>
              <% if item.fulfillment_status && item.fulfillment_status != "order shipped" %>
                <%= item.fulfillment_status %>
                <%= button_to "Update to Shipped", update_status_path(item.id), method: :post %>
              <% elsif item.fulfillment_status %>
                <%= item.fulfillment_status %>
              <% else %>
                N/A
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>




      </table>
    <% end %>

  <% else %>
    <p>No <%= status %> orders currently. </p>
  <% end %>
</section>
