<section class="px-md">
  <h4><%= status %> Orders</h4>
  <p>*<%= description %>*</p>
  Revenue: $<%= revenue %>

  <% if orders.any? %>

    <% orders.each do |cart, user_items| %>
      <table class="table">
        <tr>
          <th><%= link_to "Order #: #{cart.id}", view_confirmation_path(cart.id), method: :get %></th>
          <th>Order Placed On:
            <% if cart.status == "pending" %>
              N/A
            <% else %>
              Insert DateTime
            <% end %>
          </th>
          <th>Status: <%= cart.status %></th>
        </tr>

        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Fulfillment Status</th>
        </tr>

        <% user_items.each do |item| %>

          <tr>
            <td><% product = Product.find_by(id: item.product_id) %>
              <%= link_to product.name, product_path(product), method: :get %></td>
            <td><%= item.product.cost %></td>
            <td><%= item.qty %></td>
            <td><%= item.product.cost * item.qty %></td>
            <td>
              <% if item.fulfillment_status != "order shipped" %>
                <%= item.fulfillment_status %>
                <%= button_to "Update to Shipped", update_status_path(item.id), method: :post %>
              <% elsif item.fulfillment_status %>
                <%= item.fulfillment_status %>
              <% else %>
                N/A
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>

  <% else %>
    <p>No <%= status %> Orders yet! </p>
  <% end %>
</section>
