<section class="p-2">
  <h2>Fulfillment Page for <%= @current_user.username %></h2>
  <%= link_to "< back to user page", current_user_path %>

  <section class="user-sales">
    <div class="d-inline p-2">
      <h4>Total Revenue</h4>
      <p>Total revenue for paid & complete orders: $<%= @paid_revenue + @complete_revenue %></p>
    </div>

    <div class="d-inline p-2">
      <h4>Order Fulfillment:</h4>
      <p>You have <%= @not_shipped %> orders waiting to be shipped.</p>
    </div>
  </section>



  <h4>Order Details: </h4>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active nav-item p-2 details-tab "><span data-target="#tab1" data-toggle="tab" >Paid Orders</span></li>
      <li class="nav-item p-2 details-tab"><span data-target="#tab2" data-toggle="tab" >Complete Orders</span></li>
      <li class="nav-tem p-2 details-tab"><span data-target="#tab3" data-toggle="tab" >Pending Orders</span></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab1">
        <%= render partial: 'order_table', locals: { status: "Paid", description: "order confirmed, waiting for all items in the order to ship", orders: @paid_orders, revenue: @paid_revenue, item_count: @paid_items_count } %>
      </div>

      <div class="tab-pane fade" id="tab2">
        <%= render partial: 'order_table', locals: { status: "Complete", description: "orders where all items have shipped", orders: @complete_orders, revenue: @complete_revenue, item_count: @complete_items_count } %>
      </div>
      <div class="tab-pane fade" id="tab3">
        <%= render partial: 'order_table', locals: { status: "Pending", description: "orders in a customer's cart", orders: @pending_orders, revenue: @pending_revenue, item_count: @pending_items_count } %>
      </div>
    </div>
  </div>


</section>
