<main>
  <h2>Shopping Cart</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% if @cart.cartitems.any? %>
      <% @cart.cartitems.each do|item| %>
        <tr>
          <td> <%= image_tag(item.product.image) %></td>
          <td >
            <%= link_to item.product.name, product_path(item.product.id)%>
          </td>
          <td >
            <%= item.cost %>
          </td>
          <td >
            <%= button_to "+", product_cartitems_path(item.product.id) %>
            <%= item.qty %>
            <%= button_to "-", cartitem_reduce_path(item.id) %>
          </td>
          <td >
<!--            create model method to calculate total cost of item-->
            <%= item.cost * item.qty %>
          </td>
          <td>
            <%= link_to "Remove", cartitem_path(item), method: :delete  %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <%= link_to 'Back', products_path %>
</main>