<container>

  <h2 class="cart-header">SHOPPING CART</h2>
  <table class="table cart-table">
    <thead>
      <tr class="cart-table-columns">
        <th></th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% if @cartitems.any? %>
      <% @cartitems.each do|item| %>
        <tr class="row-height">
          <td class="cart-image"> <%= image_tag(item.product.image) %></td>
          <td>
            <%= link_to item.product.name, product_path(item.product.id)%>
          </td>
          <td>
            <div>$<%= '%.2f' %item.cost %></div>
          </td>
          <td class="quantity-container">
            <div><%= button_to "-", reduce_path(item.id) %></div>
            <div><%= item.qty %></div>
            <div><%= button_to "+", add_path(item.id) %></div>
          </td>
          <td>
            <div>$<%= '%.2f' %item.cartitem_subtotal %></div>
          </td>
          <td>
            <%= link_to "X", cartitem_path(item), method: :delete  %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <section class="checkout">
    <div class="summary-container">
      <div><h4>SUMMARY</h4></div>
      <div>Total Cost: <span class="total">$<%= '%.2f' %@cart.total_price %></span></div>
      <div class="checkout-button"><%= button_to "Check out", purchase_form_path, method: :get %></div>
    </div>
  </section>
  <%= link_to 'Back', products_path %>

</container>