<h2>Order Confirmation</h2>
<p>Order placed: <%# %></p>

<ul>
<li><% @ordered_cart.cartitems.each do |cartitem| %>
  <%= link_to cartitem.product.name, product_path(cartitem.product.id) %>,
  <span>quantity purchased:</span>
  <%= cartitem.qty %>,
  <span>subtotal: $<%= '%.2f' %cartitem.cartitem_subtotal%><span
<% end %>
</li>
</ul>

<p>Order total price: $<%= '%.2f'%@ordered_cart.total_price %></p>
<p>Order current status: <%= @ordered_cart.status %></p>