<h2>Order Confirmation</h2>
<p>Order Date: <%= @ordered_cart.purchase_datetime.strftime("%b %d, %Y") %></p>
<p>Order Time: <%= @ordered_cart.purchase_datetime.strftime("%I:%M%p") %></p>

<!--<hr class="order-break">-->
<!--<ul>-->
<!--<li><%# @ordered_cart.cartitems.each do |cartitem| %>-->
<!--  <%#= link_to cartitem.product.name.capitalize, product_path(cartitem.product.id) %>,-->
<!--  <span>quantity purchased:</span>-->
<!--  <%#= cartitem.qty %>,-->
<!--  <span>subtotal: $<%#= '%.2f' %cartitem.cartitem_subtotal%><span-->
<%# end %>
<!--</li>-->
<!--</ul>-->
<!--<hr class="order-break">-->

<hr class="order-break">
<div class="container">
  <% @ordered_cart.cartitems.each do |cartitem| %>
    <div class="row">

      <div class="col-sum">
        <%= image_tag(cartitem.product.image, :class => "order-image")%>
      </div>

      <div class="col-sum">
        <p><%= link_to cartitem.product.name.capitalize, product_path(cartitem.product.id) %></p>
        <span>Quantity purchased:</span> <%= cartitem.qty %>
      </div>

      <div class="col-sum">
        <span>subtotal: $<%= '%.2f' %cartitem.cartitem_subtotal%></span>
      </div>

    </div>
    <% end %>
</div>


<hr class="order-break">

<p>Order total price: $<%= '%.2f'%@ordered_cart.total_price %></p>
<p>Order current status: <%= @ordered_cart.status %></p>