<section class ="errors">
  <% if @product.errors.any? %>
    <ul>
      <% @product.errors.each do |column, message| %>
        <li><%= column %> <%= message %></li>
      <% end %>
    </ul>
  <% end %>
</section>

<h1>Edit Product</h1>

<%= render partial: 'form', locals: {action_name: "New"} %>
<%= link_to 'Show', @product %>
<%= link_to 'Back', products_path %></container>