<h3><%= @product.name %></h3>

<div class="img-container">
  <%= image_tag(@product.image) %>
</div>

<section class="product-info">
  <%= @product.inventory %> in stock <br>
  <%= @product.description %> <br>
  $<%= @product.cost %> <br>

  <strong>Categories:</strong>
  <ul>
    <% @product.categories.each do |category| %>
      <li><%= category.name %> </li>
      <% end %>
  </ul>
</section>

<% if session[:user_id] %>
  <%= link_to 'Edit', edit_product_path(@product) %>
<% end %>

<%= button_to "Add to Cart", product_cartitems_path(@product.id) %>
<%= link_to 'Back', products_path %>
