<!DOCTYPE html>
<html>
  <head>
    <title>swEtsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<main>
  <header>
    <h1>
      <%= link_to "swEtsy💦", root_path %>
    </h1>

    <strong>
      <% if session[:user_id] %>
        <%= link_to "Logged in as #{@current_user.name}", current_user_path %>
      <% end %>
    </strong>

    <section class="login">
      <% if session[:user_id] %>
        <%= button_to "Log out", logout_path, method: :delete %>
      <% else %>
        <%= button_to "Login with Github", github_login_path, method: :get %>
      <% end %>
    </section>

    <section class="cart">
      <%= button_to "Cart", cart_path(session[:cart_id]), method: :get %>
    </section>

  </header>

  <menu>
    <strong><%= link_to "All Products", products_path %></strong> <br>

    <strong>Browse by Merchant</strong>
      <ul>
        <% @merchants.each do |merchant| %>
          <li><%= link_to merchant.name.capitalize, user_products_path(merchant.id) %></li>
        <% end %>
      </ul>


    <strong>Browse by Category</strong>
      <ul>
        <% @categories.each do |category| %>
          <li><%= link_to category.name.capitalize, category_products_path(category.id) %></li>
        <% end %>
      </ul>

    <div>
      <% if session[:user_id] %>
        <%= form_with model: Category.new do |f| %>
          <%= f.text_field :name, placeholder: "New Category" %>
          <%= f.submit :submit %>
        <% end %>
      <% end %>
    </div>

  </menu>

  <body>
    <container>
    <section class="flash">
      <% flash.each do |name, message| %>
        <p class="<%= name %>"%>
          <%= message %>
        </p>
      <% end %>
    </section>

    <%= yield %>
    </container>
  </body>
</main>
</html>
